  /* ----------------------
        Max-width 800px
----------------------------------- */

@media only screen and (max-width: 800px) {
    .header_section {
        display: flex;
        justify-content: center;
    }
    .main_header {
        width: 90%;
    }
    .header_text h1 {
        font-size: 45px;
    }
    .header_text .btn {
        margin-top: 25px;
    }
    .header_img {
        width: 100%;
        height: auto;
    }
    /* --------
        Blogs style
    ------------ */
    .container {
        width: 90%;
    }
    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .single_blog img {
        width: 100%;
    }
    .video_area iframe{
        height: auto;
    }
    .blog_area{
        
    }
    .form_area{
     
    }
    .footer_area{
    
    }
      }
 /* ---------------------
        Screen width 1050
    ------------------------ */
    @media only screen and (max-width: 1050px) {
        .header_section {
            display: flex;
            justify-content: center;
        }
        .main_header {
            width: 90%;
        }
        .header_text h1 {
            font-size: 45px;
        }
        .header_text .btn {
            margin-top: 25px;
        }
        .header_img {
            width: 100%;
            height: auto;
        }
        /* --------
            Blogs style
        ------------ */
        .container {
            width: 90%;
        }
        .blogs {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        .single_blog img {
            width: 100%;
        }
        .video_area iframe{
            height: 300px;
        }
        .blog_area{
            
        }
        .form_area{
         
        }
        .footer_area{
        
        }
          }



 /* ---------------------
        Screen width 600
    ------------------------ */



@media only screen and (max-width: 600px) {


.main_header{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
.header_text {
    box-sizing: border-box;
    padding-left: 50px;
    margin-bottom: 35px;
}
.header_text h1 {
    font-size: 35px;
    color: #ffffff;
    margin-bottom: 30px;
}
.header_img{
    padding-left: 50px;
    box-sizing: border-box;
    width: 90%;
}
.blog_area{
    
}
.container{
    width: 90%; 
}
.blogs{
    display: grid;
    grid-template-columns: 1fr;
}
.single_blog img{
    width: 90%;

}
.form_area{
    display: grid;
    grid-template-columns: 1fr;
}
.match_img{
    margin-top: 25px;
}
.world_cup_video{
    display: grid;
    grid-template-columns: 1fr;
}
.video_area iframe{
    height: auto;
}
.footer_area{

}
.main_footer {
    width: 95%;
    margin: 0 auto;
    text-align: center;
}
.main_footer img {
    width: 100%;
}
.social_logo .fab {
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 15px;
}

  }
