*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* --------------------
    Google Font
------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');


/* --------------------
     Header Style
-------------------- */
.header_area{
    display: flex;
    justify-content: center;
    background-color: #2D25A0;
}
.header_section{
    margin: 85px 0;
}
.main_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1050px;
    
  
    box-sizing: border-box;


}
.header_text{
    padding: 15px;
    box-sizing: border-box;
}
.header_text h1{
    font-size: 64px;
    color: #ffffff;
}
.header_text .btn{
    padding: 10px 20px;
    background-color: #E02C6D;
    border: none;
    cursor: pointer;
    transition:all 1.5s ease-in-out;

}
.btn a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition:all 1.5s ease-in-out;

}
.fa-arrow-right{
    margin-left: 5px;
}
.btn:hover{
    background-color: #3DBAFD;
    color: #E02C6D;
    transform: scale(1.2);
    transition:all 1.5s ease-in-out;
    margin-left: 20px;

}
.btn:hover a{
    color: #E02C6D;
  

}
.header_img{
    padding: 15px;
    box-sizing: border-box;
    width: 550px;
    height: 440px;
}
.header_img img{
    width: 90%;
    transition: all 2s ease;
    box-sizing: border-box;
}
.header_img:hover img{
    width: 95%;
}

/* --------------------
        Blogs Styles
------------------------- */
.container{
    width: 1050px;
  
}
.main_area{
    display: flex;
    justify-content: center;
}
.container{}
.blog_area{
    margin: 70px auto;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.single_blog{
    box-shadow: 2px 2px 10px;
    border-radius: 5px;
    padding: 20px;
    margin: 7px;
    transition: all 1s ease-in-out;
}
.single_blog h2{
    font-size: 28px;
    font-weight: 700;
    margin: 15px auto;
}
.single_blog{}
.single_blog{}

.single_blog img{
    width:300px;
    border-radius: 5px;
 
    transform: scale(1);
    transition: all 1s ease-in-out;
}
.single_blog:hover img{
    transform: scale(1.05);
    transform: rotate(5deg);
    background-color: red;
    transition: all 1s ease-in-out;
}
.single_blog h2{}
.single_blog p{}

/* -----------
        form style
------------------ */
.form_area{
    display: flex;
    justify-content: space-between;
}
.form_modify{}
.label_style{
    font-size: 20px;
    font-weight: 700;
    color: #10437A;
}
.filled{
    padding: 5px 5px 5px 15px;
    margin-left: 10p;
    width: 250px;
    margin-top: 5px;
    font-size: 18px;
}
textarea{
    padding: 10px;
    font-size: 16px;
}
.submit_btn{
    padding: 10px 30px;
    background-image: linear-gradient(45deg, #2D25A0, #FE492E);
    border-radius: 30px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 15px;
    transition: all 1s ease-in-out;
}
.submit_btn:hover{
    background-image: linear-gradient(45deg, #FE492E, #2D25A0);
    padding: 10px 35px;
    transition: all 1s ease-in-out;
    color: yellow;
}
.match_img{
    width: 70%;
    box-sizing: border-box;
    padding: 10px;
   
}
.match_img img{
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 2px;
    border-radius: 5px;
}
.form_area{
    box-shadow: 2px 2px 10px;
    box-sizing: border-box;
    padding: 25px 15px;
    border-radius: 10px;
}
.form_area{}



/* -------------
    Footer Styles
    ------------------- */
.fooer_area{
    margin-top: 50px;

}
.footer_section{
    margin-bottom: 75px;
}
.footer_section{
    display: flex;
    justify-content: center;
    margin-bottom: 75px;

}
.main_footer{
    width: 1050px;
  
    margin: 0 auto;
    text-align: center;

}
.main_footer img{
    width: 490px;
}
.social_logo{}
.social_logo a{
    text-decoration: none;
}
.social_logo .fab{
    margin: 10px;
    padding: 15px;
    background-color: #E7E7E8;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    border-radius: 50px;
    color: #969BAB;
    transition: all 1s ease-in-out;
}
.main_footer p {
    font-size: 18px;
    margin-top: 20px;
}
.social_logo .fab:hover{
    background-color: #969BAB;
    color: #E7E7E8;
    transform: scale(1.2);

}
.main_footer {}
